<h1><%= @idea.name %> </h1>
<div class="row">
  <div class="col-md-2 col-md-offset-2"> 
      <p><%= @idea.description %></p>
      <footer> 
        <%= link_to 'Edit', edit_idea_path(@idea)%> 
        <%= link_to 'Delete', @idea, method: :delete, data: { confirm: "Are you sure?" } %> 
        <%= link_to 'Back', ideas_path %> 
      </footer> 
  </div>
</div>