<h1><%= @idea.name %> </h1>
<div class="row">
  <div class="col-md-4 col-md-offset-2"> 
      <p><%= @idea.description %></p>
      <div>
        <% if current_user %> 
          Potential Business Impact: <%= rating_for @idea, 'business_impact', disable_after_rate: false, star_path: '/images' %> <br> 
          Technically Feasible: <%= rating_for @idea, "technically_feasible", disable_after_rate: false, star_path: '/images' %> <br> 
          Speed to Market: <%= rating_for @idea, "speed_to_market", disable_after_rate: false, star_path: '/images' %> 
        <% end %> 
      </div> 
      <br> 
      <hr>
        <footer> 
          <%= link_to 'Edit', edit_idea_path(@idea)%>  | 
          <%= link_to 'Delete', @idea, method: :delete, data: { confirm: "Are you sure?" } %>  | 
          <%= link_to 'Back', ideas_path %> 
        </footer>
    </div>

  </div> 

</div>
