<h1><%= @feature.name %> </h1>
<div class="row">
  <div class="col-md-2 col-md-offset-2"> 
      <p><%= @feature.description %></p>
      <p>Status: <%= @feature.status %> </p> 
      <footer> 
        <%= link_to 'Edit', edit_feature_path(@feature)%> 
        <%= link_to 'Delete', @feature, method: :delete, data: { confirm: "Are you sure?" } %> 
        <%= link_to 'Back', features_path %> 
      </footer> 
  </div>
</div>